Source: mdt-services
Maintainer: June Tate-Gans <june@theonelab.com>
Build-Depends: debhelper (>=10)
Section: misc
Priority: optional
Standards-Version: 3.9.8

Package: mdt-services
Section: misc
Priority: optional
Architecture: all
Depends: apt-utils, sudo, openssh-server, avahi-daemon,
 python3, python3-requests, python3-netifaces, ${misc:Depends}
Description: Sets up a Debian system for use with MDT
 This package contains scripts and configurations to support the Mendel
 Development Tool.
 .
 There is no single daemon for MDT, just a bunch of configuration. Removing this
 package will remove the configurations associated with it and effectively
 disable the ability to use the MDT with this machine.
